.navbar {
  background: map-colors(orange);
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 2.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  a {
    color: map-colors(primary);
  }
  @include responsiv(sm) {
    font-size: calc((1rem / 2) + 5px);
    padding-left: 15px;
    padding-right: 15px;
  }
  &__brand {
    color: map-colors(primary);
    font-weight: map-get($font-weight, bolder);
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    display: inline-block;

    padding: 10px 5px;
    transition: color 0.3s;
    @include responsiv(md) {
      padding-left: 5px;
    }
    &:hover {
      color: color-mix(primary, 0.2);
    }
  }

  &__list-group {
    display: flex;
    color: map-colors(primary);
    justify-content: space-evenly;
    @include responsiv(sm) {
      display: none;
    }

    @include responsiv(md) {
      display: none;
    }
    &__item {
      margin: 0 5px;
      padding: 10px 5px;
      transition: all 0.3s;
      &:hover {
        background: rgba(255, 166, 0, 0.63);
      }
      a {
        transition: color 0.3s;
        &:hover {
          color: color-mix(primary, 0.2);
        }
      }
    }
  }

  &__menu {
    @include responsiv(md) {
      width: 25px;
      height: 25px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      &-icons-1,
      &-icons-2,
      &-icons-3 {
        height: 3px;
        width: 100%;
        top: 6px;
        margin-top: 4px;
        background: #fff;
        position: absolute;
        transition: all 0.3s;
        border-radius: 50px;
      }
      &-icons-1 {
        top: 0px;
        &.active {
          transform: rotate(45deg);
          top: 6px;
        }
      }
      &-icons-2 {
        top: 6px;
        &.active {
          opacity: 0;
        }
      }
      &-icons-3 {
        top: 12px;
        &.active {
          transform: rotate(-225deg);
          top: 6px;
        }
      }
    }
  }
}

#collapsibleNavbar {
  display: grid;
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 10px;
  background: map-colors(orange);
  &.active {
    height: 250px;
    opacity: 1;
    visibility: visible;
  }
  a {
    color: map-colors(primary);
    &:hover {
      color: color-mix(primary, 0.2);
    }
  }
  li {
    margin-top: 15px;
  }
}
